{% extends "base.html" %} {% block title %}Apply Instructor{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Instructor Application</h3>

  <div class="form-group">
    <label for="subject">Subject</label>
    <input
      type="text"
      class="form-control"
      id="subject"
      name="subject"
      placeholder="Subject of interest"
    />
  </div>
  <div class="form-group">
    <label for="fullname">Full Name</label>
    <input
      type="text"
      class="form-control"
      id="fullname"
      name="fullname"
      placeholder="Enter Full Name"
    />
  </div>
    <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}