{% extends "base.html" %} {% block title %}Class Ratings{% endblock %} {% block content
    %}
    <h3 align="center">Class Ratings</h3>
    <br>

    <form method="POST">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Course ID</th>
                <th scope="col">Name</th>
                <th scope="col">Rating</th>
                <th scope="col">Comment</th>
            </tr>
        </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                    <tr>
                        <td>CS 322</td>
                        <td>Software Engineering</td>
                        <td>4.0</td>
                        <td>Gotta grind hard</td>
                    </tr>
            </tbody>
        </table>
    <br>
</form>
    {% endblock %}