{% extends "base.html" %} {% block title %}Class Overview{% endblock %} {% block content
    %}
    <h3 align="center">Class Overview</h3>
    <br>

    <form method="POST">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Course ID</th>
                <th scope="col">Name</th>
                <th scope="col">Instructor</th>
                <th scope="col">Semester</th>
            </tr>
        </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                    <tr>
                        <td>PSYCH10100</td>
                        <td>Introduction to Psychology</td>
                        <td>Dr. Phil</td>
                        <td>Fall 2021</td>
                    </tr>
            </tbody>
        </table>
    <br>
</form>
    {% endblock %}