{% extends "base.html" %} {% block title %}Course Cancellation{% endblock %} {% block content
    %}
    <h3 align="center">Course Cancellation</h3>
    <br>

    <form method="POST">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                {% for header in table_headings %}
                <th> {{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
            <tbody>
            <tr>
                {% for courses in data %}
                <td>{{courses.course_id }}</td>
                <td>{{courses.name }}</td>
                <td>{{courses.instructor }}</td>
                <td>{{courses.capacity }}</td>
                <td>{{courses.semester}}</td>
                <td><button class="btn btn-outline btn-danger" name="cancelbutton" value="{{ courses.id }}" formmethod="POST" >Cancel</button></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    <br>
</form>
    {% endblock %}