{% extends "base.html" %} {% block title %}Grade Students{% endblock %} {% block content
    %}
    <h3 align="center">Grade Students</h3>
    <br>

    <form method="POST">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Course</th>
                <th scope="col">Name</th>
                <th scope="col">Grade</th>
            </tr>
        </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                    <tr>
                        <td>1</td>
                        <td>CS322</td>
                        <td>Willie Shi</td>
                        <th scope="col">3.5</th>
                    </tr>
            </tbody>
        </table>
    <br>
</form>
    {% endblock %}