{% extends "base.html" %} {% block title %}GRADSCHOOLZERO{% endblock %} {% block content
%}
<h1 align="center">GRADSCHOOLZERO</h1>

    <br>
<style>
      .img-container {
        text-align: center;
        display: block;
      }
    </style>
  </head>
  <body>
    <span class="img-container"> <!-- Inline parent element -->
      <img src="https://i.ibb.co/C21Q2bJ/GRADSCHOOLZERO.png" alt="GRADSCHOOLZERO">
    </span>
<br>
<br>
    <h3 align="center">About Us</h3>
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Our Mission</th>
            </tr>
        </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                    <tr>
                        <td>GRADSCHOOLZERO stands at the intersection of its historical past and promise for a vibrant future.
                            Building on its strong foundation of unleashing potential, our college education integrates
                            knowledge with experience to nurture scholars, professionals, and leaders who are ready to meet the challenges
                            of our contemporary society. GRADSCHOOLZERO will attract students who have a tenacious desire to learn, lead,
                            nd contribute to the greater good of society on their path to a successful future.
                        </td>
                    </tr>
            </tbody>
        </table>
    <h3 align="center">Top Rated Courses</h3>
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Course</th>
                <th scope="col">Name</th>
                <th scope="col">Rating</th>
            </tr>
        </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                   {% for row in table_data %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    <h3 align="center">Lowest Rated Courses</h3>
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Course</th>
                <th scope="col">Name</th>
                <th scope="col">Rating</th>
            </tr>
        </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                    <tr>
                        <td>CSC 10400</td>
                         <td>Discrete Mathematical Structures</td>
                        <td>1.0</td>
                    </tr>
                    <tr>
                        <td>CSC21000</td>
                        <td>Computers and Assembly Programming</td>
                        <td>2.0</td>
                    </tr>
            </tbody>
        </table>
    <h3 align="center">Top Students</h3>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Student Name</th>
                <th scope="col">GPA</th>
            </tr>
        </thead>
            <tbody>
            <tr>
                <!-- Your rows inside the table HERE: -->
                   {% for students in data %}
            <td> {{students.first_name}}</td>
             <td> {{students.gpa}}</td>
            </tr>
            {% endfor %}
            </tbody>

        </table>

{% endblock %}