{% extends "base.html" %} {% block title %}Registrar Management{% endblock %} {% block content
%}
<h3 align="center">{{ user.usertype }} Management</h3>
    <br>

<form method="POST">

    <button class="btn btn-outline btn-primary" style="height:50px;width:99%"
            name="submit_button" value="evaluate-instructor">Evaluate Instructor</button>
    <br>
    <br>
    <button class="btn btn-outline btn-secondary" style="height:50px;width:99%"
            name="submit_button" value="cancel-course">Course Cancellation</button>

    <br>
    <br>
    <button class="btn btn-outline btn-warning" style="height:50px;width:99%"
            name="submit_button" value="student-suspension">Student Suspension</button>

    <br>
    <br>
    <button class="btn btn-outline btn-warning" style="height:50px;width:99%"
            name="submit_button" value="instructor-suspension">Instructor Suspension</button>


    <br>
    <br>
    <button class="btn btn-outline btn-danger" style="height:50px;width:99%"
            name="submit_button" value="student-termination">Student Termination</button>

    <br>
    <br>
    <button class="btn btn-outline btn-light" style="height:50px;width:99%"
            name="submit_button" value="class-ratings">Class Ratings</button>
</form>

{% endblock %}
