{% extends "base.html" %} {% block title %}Student Management{% endblock %} {% block content
%}
<h3 align="center">{{ user.usertype }} Management</h3>
    <br>
<form method="POST">
    <button class="btn btn-outline btn-primary" style="height:50px;width:99%"
            name="submit_button" value="search-classes">Search Classes</button>
    <br>
    <br>
    <button class="btn btn-outline btn-secondary" style="height:50px;width:99%"
            name="submit_button" value="class-overview">Class Overview</button>

    <br>
    <br>
    <button class="btn btn-outline btn-info" style="height:50px;width:99%"
            name="submit_button" value="drop-classes">Drop Classes</button>

    <br>
    <br>
    <button class="btn btn-outline btn-light" style="height:50px;width:99%"
            name="submit_button" value="student-instructor-complaint">File Instructor Complaint</button>

    <br>
    <br>
    <button class="btn btn-outline btn-warning" style="height:50px;width:99%"
            name="submit_button" value="student-warnings">My Warnings</button>

    <br>
    <br>
    <button class="btn btn-outline btn-success" style="height:50px;width:99%"
            name="submit_button" value="records">Records</button>
</form>

{% endblock %}
